<div class="exit-btn">
  <%= image_tag("X.svg")%>
</div>
<div class="success-container">
	<h1>
		恭喜您！
	</h1>
	<h2>
		您已獲得廣告金
	</h2>
	<div class="success-price">
		<ul>
			<li><h3>NT</h3></li>
			<li><span class="ad_money"> 3 </span></li>
			<li><%= image_tag("money.svg")%></li> 
		</ul>
	</div>
	<h3>
		您目前支持的專案為：
	</h3>
	<h4>
		關懷生命協會
	</h4>
	<h5>
		關懷生命，2016友善動物勸募計畫
	</h5>
	<a href="#" class="put_money">確定捐出廣告金</a><br>
	<a href="#" class="see_another_ad">繼續看更多廣告</a>
</div>