	<div class="embed-container"> 
		<%= embed_autoplay(@advertisement.ad_href) %> 
	</div>
	<%= link_to('註冊', new_registration_path(:user)) %>
	<%= link_to "登入 Facebook", user_facebook_omniauth_authorize_path %>
	