<div class="intro-pic">
	<%= image_tag 'intropic.png'  %>
</div>
<div class="about_us_container">
	<h1>「共享模式下的公益新芽」</h1>
	<p>
		共享經濟的概念，是釋放社會中的閒置資源，對整體社會提供新的價值！
	</p>	
	<p>
		已知的Uber釋放汽車閒置時的價值；Airbnb釋放住家閒置時創造經濟收入的可能；有沒有可能，我們閒置的時間也正等待被我們釋放呢?
	</p>
	<p>
		回想 「Adcharity-看廣告做公益 」概念形成之初：團隊裡的Tina與Davis對於沒有多餘的經濟能力可以捐贈予弱勢族群備 感無力；Jeremy雖有餘力，但也時常在捐款與個人生活的天秤上猶豫…；Sam和Lu也總是因忙於工作而騰不出時間投身於志工活動當中。
	</p>
	<h2>
		助人本是我們的天性，<br>卻也難逃現實條件的束縛。
	</h2>
	<p>
		於是，釋放助人的天性便成了我們亟欲想要解決的問題！「看廣告」也成了我們的解答！
	</p>
	<p>
		台灣人一天少說要看45則以上的廣告，但這都是企業主強迫我們看的，但若是我們主動地來看廣告呢?
	</p>
	<p>
		利用「零碎的時間」看看廣告，搭配上「企業主」的廣告預算。
	</p>
	<h2>
		每看一則廣告，<br>企業主就將廣告金捐給社福團體。
	</h2>
	<p>
		釋出原本較不具意義的時間，並協助弱勢族群有更好的生活。因為你，「廣告金」終於可以對社會產生正向影響力！
	</p>

</div>
<div class="recommend">
  <div class="recommend-container">
    <h2>
      您想推薦急需資源幫助的社福團體嗎？<br />
      歡迎與我們聯絡！
    </h2>
    <%=link_to '我要推薦基金會', recommend_institutes_path %>
  </div>
</div>