

.ad-container{
	position: absolute;
	width: 100%;
	height: auto;
	top: 35%;
	transform: translateY(-50%);
}

.ad-desp{
	text-align: center;
	color: #E0E0E0;
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translateX(-50%) translateY(-50%);
	h1{
		margin-bottom: 8px;
		font-size: 2em;
		letter-spacing: 2.5px;
		color: #E0E0E0;
		font-weight: 500;
	}
	h2{
		margin-top: 0px;
		font-size: 1.5em;
		color: #9E9B9B;
		letter-spacing: 2px;
	}
}

.project-desp{
	text-align: center;
	color: white;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	h3{
		color: #9E9B9B;
		font-size: 1.5em;
		letter-spacing: 1.5px;
	}
	h1{
		font-size: 2em;
		letter-spacing: 2px;
		color: #E0E0E0;
	}
	h4{
		letter-spacing: 1.5px;
		color: #E0E0E0;
		font-size: 1.5em;

	}
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*border: solid 4px #37474F;*/
  }
}


.success-container{
	display: flex;
	align-items: center;
	justify-content: center;
	top: 40%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	h1{
		color: #E15958;
		font-size: 4em;
		letter-spacing: 3px;
		font-weight: 300;
		left: 3%;
	}
	h2{
		letter-spacing: 2.5px;
		font-size: 3.5em;
		font-weight: 300;
	}
	h3{
		color: #929292;
		font-size: 3em;
		letter-spacing: 2.25px;
		font-weight: 200;
		margin-bottom: 30px;
	}
	h4{
		color: #606060;
		font-size: 2.8em;
		letter-spacing: 2.25px;
		font-weight: 300;
		margin-bottom: 30px;
	}
	h5{
		color: #606060;
		font-size: 2.4em;
		letter-spacing: 1.75px;
		font-weight: 300;
	}
	.ad_money{
		font-size: 10em;
		color: #606060;
		font-weight: 400;
	}
}

.ad_money{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	.congrats_word{
		position: absolute;
    top: -83%;
    width: 462%;
    text-align: center;
    transform: translateX(-36%);
	}
	.ntd{
		position: absolute;
    top: 33%;
    left: -125%;
	}
	.money_sign{
		position: absolute;
		top: 36%;
    right: -90%;
		img{
			width: 220%;
			height: auto;
		}
	}
	.support_int{
		position: absolute;
		width: 770%;
    text-align: center;
    transform: translateX(-44%);
	}
	.success-action-btn{
		position: absolute;
		position: absolute;
    width: 770%;
    bottom: -245%;
    transform: translateX(-39%);
		a{
			display: inline-block;
    	text-decoration: none;
    	color: white;
    	font-size: 3em;
    	letter-spacing: 2.25px;
    	font-weight: 300;
    	padding: 20px 130px;
    	background-color: #E15958;
    	border-radius: 10px;
    	margin-bottom: 34px;
		}
		a.see_another_ad{
			background-color: #949494;
		}
	}









}